<div>
  <h2 id="page-heading" data-cy="TimeEntryHeading">
    <span jhiTranslate="icicleApp.timeEntry.home.title">Time Entries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="icicleApp.timeEntry.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-time-entry"
        [routerLink]="['/time-entry/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="icicleApp.timeEntry.home.createLabel"> Create a new Time Entry </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="timeEntries?.length === 0">
    <span jhiTranslate="icicleApp.timeEntry.home.notFound">No Time Entries found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="timeEntries && timeEntries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="icicleApp.timeEntry.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="minutesWorked">
            <div class="d-flex">
              <span jhiTranslate="icicleApp.timeEntry.minutesWorked">Minutes Worked</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="taskName">
            <div class="d-flex">
              <span jhiTranslate="icicleApp.timeEntry.taskName">Task Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span jhiTranslate="icicleApp.timeEntry.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let timeEntry of timeEntries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/time-entry', timeEntry.id, 'view']">{{ timeEntry.id }}</a>
          </td>
          <td>{{ timeEntry.date | formatMediumDate }}</td>
          <td>{{ timeEntry.minutesWorked }}</td>
          <td>{{ timeEntry.taskName }}</td>
          <td>
            {{ timeEntry.user?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/time-entry', timeEntry.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/time-entry', timeEntry.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(timeEntry)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
